@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --highlightScale: 0.4;
  --matchListScale: 0.4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.spotLight {
  background-image: radial-gradient(
    circle at 0% 0%,
    rgba(232, 197, 236, 0.1),
    #202125 15%
  );
  height: 10000px;
}
.modol {
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 1000;
}
.spinner::before {
  background-color: white;
  height: 40px;
  width: 40px;
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 1000;
  transform: translate(2px, 2px);
}
@keyframes example {
  0% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.spinner::after {
  background-color: gray;
  height: 44px;
  width: 32px;
  left: 18px;
  border-radius: 30px;
  content: "";
  position: absolute;
  animation: infinite example 1s;
}
